{% extends 'base.html.twig' %} 

  
{% block Contenu%}

    <p class="redTitle">Nombre d'utilisateurs présent dans la base de donnée : {{ Lecompteur }}</p>
{%  if listeUtilisateurs is empty %}
        <h3 style="text-align: center; margin-top: 1em;">Aucun Utilisateur</h1>
    {% else %}
        {% for unUtilisateur in listeUtilisateurs %}
         <div class="UtilisateurAffichage">
        <h1 class="blueTitle"> utilisateur {{ unUtilisateur.id}} : </h1>
        <p class="color-beige">Nom : {{ unUtilisateur.nom}}</p>
        <p class="color-beige">Prenom : {{ unUtilisateur.prenom}}</p>
        <p class="color-beige">Adresse : {{ unUtilisateur.adresse}}</p>
        <p class="color-beige">Code Postal : {{ unUtilisateur.cp}}</p>
        <p class="color-beige">Ville : {{ unUtilisateur.ville}}</p>
        
        <p>                 </p>
         </div> 
        {% endfor %}
      
    {% endif %}
 

{% endblock %}
